*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    font-family: "Inter";
    position: relative;
}
/***** Main  *****/
.main {
    background-color: hsl(244, 37%, 16%);
    color: hsl(0, 0%, 100%, 0.75);
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
 
.main span {
    color: hsl(277, 64%, 61%);
}

.main h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin: 0.5em auto;
    font-size: 2em;
}

.main p {
    font-size: 1.5rem;
    padding: 1rem;
}

/***** Image  *****/
.img-container {
    margin: 0;
    height: 25%;
    border-radius: 5px 5px 0 0;
    background-image:linear-gradient(
    hsl(277, 64%, 61%, 0.5)
    ), url("images/image-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/***** Text *****/
.text-container {
    display: flex;
    flex-direction: column;
}

/***** Stats  *****/
.stats {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%, 0.75);
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

/* Prevents flexbox from overflowing its parent*/
.stats p {
    flex: 1 1 0;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.stats p:first-child {
    margin-top: 0;
}

.stats p:first-child span {
    text-transform: none;
}

.stats span {
    font-weight: 700;
    font-size: 2rem;
    display: block;
    color: hsl(0, 0%, 100%);
    margin: 0.1em 0;
}

footer {
    display: none;
}

/***** Small Screens of Landscape Phones *****/
@media (min-width: 666px) {
    .img-container {
        background-position-y: 15%;
    }

    .stats {
        flex-direction: row;
    }
}

/***** Medium screen *****/
@media (min-width: 666px) and (min-height: 500px) {
    .main h1 {
        font-size: 4em;
    }

    .main h1 + p {
        font-size: 2em;
    }
    
    .stats {
        flex-direction: column;
    }
}

/***** Ipad's and larger *****/
@media (min-width: 1080px) {
    .main {
        display: flex;
        flex-direction: row-reverse;
        width: 60%;
        height: 50%;
    }

    .main h1 {
        font-size: 3em;
        margin-bottom: 0;
        padding: 0 0.5em;
    } 

    .main h1 + p {
        font-size: 1.5em;
        padding-bottom: inherit;
    }

    .stats {
        flex-direction: initial;
    }

    .stats p{
        min-width: 0;
        font-size: 1em;
    }

    .img-container {
        width: 50%;
        height: 100%;
        background-image: linear-gradient(hsl(277, 64%, 61%, 0.5)), url("images/image-header-desktop.jpg");
        background-position-x: 100%;
        border-radius: 0 5px 5px 0;
    }

    .text-container {
        width: 50%;
        height: 100%;
        justify-content: space-around;
    }

    footer {
        display: block;
        position: absolute;
        bottom: 0;
    }
}

/***** Small height phones *****/
@media (max-height: 800px) {
    .main {
        height: 100vh;
    }

    .text-container p {
        font-size: 1.3em;
    }
}




