*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    font-family: "Inter";
}
/***** Main  *****/
.main {
    background-color: hsl(244, 37%, 16%);
    color: hsl(0, 0%, 100%, 0.75);
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

.main * {
    margin: 1em auto;
}

.main span {
    color: hsl(277, 64%, 61%);
}

.main h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.main p {
    font-size: 1.3rem;
    padding: 1rem;
}

/***** Stats  *****/
.stats {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%, 0.75);
    margin-top: 0;
    display: flex;
    flex-direction: column;

}

/* Prevents flexbox from overflowing its parent*/
.stats p {
    flex: 1 1 0;
    min-height: 0;
    letter-spacing: 0.1rem;
}

.stats p:first-child {
    margin-top: 0;
}

.stats p:first-child span {
    text-transform: none;
}

.stats span {
    font-weight: 700;
    font-size: 2rem;
    display: block;
    color: hsl(0, 0%, 100%);
    margin: 0.2em 0;
}

/***** Image  *****/
.img-container {
    margin: 0;
    height: 25%;
    border-radius: 5px 5px 0 0;
    background-image:linear-gradient(
    hsl(277, 64%, 61%, 0.5)
    ), url("images/image-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width:666px) {
    .img-container {
        background-position-y: 15%;
    }

    .stats {
        flex-direction: row;
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50%;
    }

    .stats p:first-child {
        margin-top: 1em;
    }
}

@media (min-width: 1045px) {
    .main {
        width: 50%;
        height: 50%;
        position: relative;
    }

    .main * {
        width: 50%;
        margin: 1em 0;
        padding: 0 1em;
        height: 20%;
    }

    .main span, .img-container {
        margin: 0;
        padding: 0;
    }

    .stats {
        flex-direction: row;
        height: auto;
        text-align: initial;

    }

    .stats p {
        min-width: 0;
        font-size: 0.7rem;
    }

    .stats p:first-of-type {
        margin-top: 1em;
    }

    .img-container {
        height: 100%;
        width: 50%;
        background-image:linear-gradient(
            hsl(277, 64%, 61%, 0.5)
            ), url("images/image-header-desktop.jpg");
        background-size: 100% 100%;
        border-radius: 0 5px 5px 0;
        position: absolute;
        right: 0;
    }
}

@media (max-height: 700px) {
    /* .main {
        min-height: 400px;
    } */

    /* .stats {
        position: absolute;
        bottom: 4em;
        right: 33%;
    } */

}